<html>

<head>
  <title>{{ context.response.status }} {{ name }} {{ message ? `- ${message}` : null }}</title>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Recursive:wght@300..1000&display=swap");

    :root {
      --shade: #101113;
      --shade-0: #191b1f;
      --shade-50: #1f2228;
      --shade-100: #282b33;
      --shade-200: #33373f;
      --shade-300: #4a4f5a;
      --shade-400: #6b7280;
      --shade-500: #9095a0;
      --shade-600: #a8adb8;
      --shade-700: #c5c9d1;
      --shade-800: #e1e4e8;
      --shade-900: #f6f8fa;

      --background-color: var(--shade);
      --dark-background-color: var(--shade-0);
      --code-window-background-color: var(--shade);
      --font-color: var(--shade-900);
      --font-family: "Inter", -apple-system, "system-ui", Segoe UI, system-ui, sans-serif;
      --heading-color: var(--shade-900);
    }

    * {
      box-sizing: border-box;
    }

    body {
      background: var(--dark-background-color);
      color: var(--font-color);
      font-size: 16px;
      font-family: var(--font-family);
      font-weight: 300;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    h1,
    h2,
    h3,
    h4 {
      color: var(--heading-color);
      margin: 0;
    }

    h1 {
      font-size: 3rem;
      font-weight: 500;
      margin: 0 0 1rem;
      color: var(--heading-color);
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }

    .subtitle {
      color: var(--shade-400);
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 0;
    }
  </style>
</head>

<body>
  <main class="container">
    <div>
      <h1>{{ context.response.status }} - <em>{{ name }}</em></h1>
      <div class="subtitle">{{ message }}</div>
    </div>
  </main>
</body>

</html>